<div class="portee-container">
  <img src="clef-de-sol.svg" class="clef" alt="Clé de sol" />

  <!-- Barre verticale -->
  <div class="barre-verticale"></div>

  <!-- Lignes de la portée -->
  <div class="ligne" *ngFor="let i of [0,1,2,3,4]" [style.top.px]="40 + i*20"></div>

  <!--Notes affichées -->
  <div class="note"
       *ngFor="let note of notes; index as i"
       [style.top.px]="90 + note.position"
       [style.left.px]="getPositionLeft(i)"
       [class]="note.type || 'ronde'">

    <div *ngFor="let ligne of getLignesSupplementaires(note)"
         class="ligne-supplementaire"
         [style.left.px]="ligne.left"
         [style.top.px]="ligne.top"></div>
  </div>
</div>
<!--<app-note-selector (noteAjoutee)="ajouterNote($event)" />-->
